
.space{

border: 2px solid black;
width: 50px;
margin-right: 35px;
}

.pictures{
    height: 200px;
    margin-right: 8px;
    margin-bottom: 5px;
    width: 270px;
}
.text{
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}
.free{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    width:100%;
    padding: 0.2rem;
}
.messages{
    margin-top: 8rem;
    padding: 2.5rem;
    margin-right: 5rem;
}
